.home-main {
    display: block;
    margin-bottom: var(--spacing);
}
.heroSection {
    margin: var(--spacing);
}
.heroImage {
    width: 100%;
}
.callToAction {
    height: var(--touchable-size);
    padding: var(--zero) var(--rem) var(--zero) var(--rem);
    color: var(--dark-primary-card-foreground);
    background-color: var(--dark-primary-card-background);
    border-radius: var(--rem);
    position: relative;
    bottom: var(--double-touchable-size);
    left: var(--touchable-size);
}
.callToAction.light {
    grid-area: call;
    height: var(--touchable-size);
    color: var(--light-primary-card-foreground);
    background-color: var(--light-primary-card-background);
    border-radius: var(--rem);
}
.homeHeader{
    text-align: center;
}
.contentSection {
    padding: var(--spacing);
}
.currentEventsSection, .weatherSection, .forecastSection{
    padding: var(--spacing);
    color: var(--dark-primary-card-foreground);
    background-image: linear-gradient(to bottom, var(--dark-primary-card-background), var(--dark-secondary-card-background));
    border-radius: var(--touchable-size);
}
.currentEventsSection.light, .weatherSection.light, .forecastSection.light{
    color: var(--light-primary-card-foreground);
    background-image: linear-gradient(to bottom, var(--light-primary-card-background), var(--light-secondary-card-background));
}
.siteSpotlightSection, .foodSpotlightSection, .attractionSpotlightSection{
    padding: var(--spacing);
    color: var(--dark-secondary-card-foreground);
    background-color: var(--dark-secondary-card-background);
    border: var(--small) var(--dark-primary-card-foreground) solid;
    border-radius: var(--touchable-size);
}
.siteSpotlightSection.light, .foodSpotlightSection.light, .attractionSpotlightSection.light{
    color: var(--light-secondary-card-foreground);
    background-color: var(--light-secondary-card-background);
    border: var(--small) var(--light-primary-card-foreground) solid;
}
@media only screen and (min-width: 45rem) { /*720px*/
    .forecastSection {
        padding: var(--spacing);
        color: var(--dark-secondary-card-foreground);
        background-image: none;
        background-color: var(--dark-secondary-card-background);
        border: var(--small) var(--dark-primary-card-foreground) solid;
        border-radius: var(--touchable-size);
    }
    .forecastSection.light{
        color: var(--light-secondary-card-foreground);
        background-image: none;
        background-color: var(--light-secondary-card-background);
        border: var(--small) var(--light-primary-card-foreground) solid;
    }
}
@media only screen and (min-width: 64rem) { /*1024px*/
    .forecastSection {
        padding: var(--spacing);
        color: var(--dark-primary-card-foreground);
        background-image: linear-gradient(to bottom, var(--dark-primary-card-background), var(--dark-secondary-card-background));
        border-radius: var(--touchable-size);
        border: none;
    }
    .forecastSection.light{
        color: var(--light-primary-card-foreground);
        background-image: linear-gradient(to bottom, var(--light-primary-card-background), var(--light-secondary-card-background));
        border: none;
    }
}
.currentEventsSectionHeader, .weatherSectionHeader, .forecastSectionHeader, .siteSpotlightSectionHeader, .foodSpotlightSectionHeader, .attractionSpotlightSectionHeader{
    text-align: center;
}
.currentEventsSectionContainer{}
.weatherSectionContainer{}
.forecastSectionContainer{}
.siteSpotlightSectionContainer{}
.foodSpotlightSectionContainer{}
.attractionSpotlightSectionContainer{}

/*@media only screen and (min-width: 38rem) { /*608px*/
/*}/**/