@media only screen and (min-width: 20rem/*var(--small-width)*/) and (max-width: 70rem/*var(--medium-width)*/) {
    .header /*header*/, .main /*main*/, nav, .footer /*footer*/ {
        max-width: var(--medium-width);
        margin: var(--zero) auto;
    }
    .header /*header*/ {
        grid-template-columns: var(--logo-width) 1fr auto var(--dark-width) var(--hamburger-width);
        grid-template-rows: auto;
    }
    .logo /*header img*/ {
        width: var(--logo-width);
        height: auto;
        grid-column: 1;
        grid-row: 1;
        margin: var(--zero);
    }
    .title /*header span*/ {
        grid-column: 2;
        grid-row: 1;
        font-size: var(--rem);
        padding-left: var(--spacing);
        margin-bottom: var(--half-spacing);
    }
    /******** Main ********/
    .home-main {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(75%,100%));
        gap: var(--spacing);
    }
    .hero {
        grid-column: 1;
        grid-row: 1;
    }
    .page-title-header {
        text-align: left;
    }
    .home-page-title-header {
        grid-column: 1;
        grid-row: 2;
    }
    .home-content {
        grid-column: 1;
        grid-row: 3;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(25%,50%));
        gap: var(--double-spacing);
    }
    .home-current-events{
        grid-column: 1/3;
        grid-row: 1;
        display: block;
    }
    .home-current-weather{
        grid-column: 3;
        grid-row: 1;    
        display: block;
    }
    .home-weather-forecast{
        grid-column: 4;
        grid-row: 1;        
        display: block;
    }
    .home-business-spotlight-section{
        grid-column: 1/5;
        grid-row: 2;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(5%,32%));
        gap: var(--spacing);
    }
    .home-business-first-spotlight {
        grid-column: 1;
        grid-row: 1;
    }
    .home-business-second-spotlight {
        grid-column: 2;
        grid-row: 1;
    }
    .home-business-third-spotlight {
        grid-column: 3;
        grid-row: 1;
    }
    .home-current-events-body, .home-current-weather-body {
        height: 73%;
        font-size: var(--even-less-rem);
    }
    .home-weather-forecast-body {
        height: 76.5%;
        font-size: var(--even-less-rem);
    }
    .home-business-spotlight {
        margin-bottom: var(--zero);
    }
    .main /*main*/ {
        display: block;
        padding: var(--plus-half-spacing) var(--double-spacing);
    }
    .directory-list {
        grid-template-columns: repeat(auto-fit, minmax(48%, 1fr));
    }
    .join-content {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(45%,50%));
    }
    /***** Discover Page ****/
    .discover-card {
        grid-template-areas:
        "photograph name"
        "photograph description"
        "learn address";
    }
    .discover-card-image {
        width: 300px;
    }
    .discover-card-image:hover {
        box-shadow: 0 0 var(--touchable-size) #333;
    }
    .learn-more-dialog[open] {
        grid-template-areas:
        "photograph name"
        "photograph description"
        "cost address";
    }
    .learn-more-image {
        width: 100%;
        height: auto;
        grid-area: photograph;
    }

    /**** Footer ****/
    .footer {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: var(--double-spacing);
    }
    .social {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(var(--touchable-size), 1fr));
        gap: var(--spacing);
        margin: var(--spacing);
        justify-content: center;
    }
    .social-links {
        width: var(--touchable-size);
        height: auto;
    }
}
