@media only screen and (min-width: 38rem) { /*608px*/
    .header /*header*/, .main /*main*/, nav, .footer /*footer*/ {
        max-width: var(--large-max-width);
        margin: 0 auto;
    }
    .header /*header*/ {
        grid-template-columns: var(--logo-width) auto var(--dark-width) var(--hamburger-width);
        /*padding: 5px 0 5px 10px;
        align-items: end;
        border-bottom: solid 1px var(--tertiary-color);
        column-gap: 8px;*/
    }
    .title /*header span*/ {
        font-size: 1.2rem;
        margin-left: 30px;
        margin-bottom: 5px;
    }
    /******** Hamburger ********/
    .hamburger {
        display: none;
    }
    /******** Navigation ********/
    .navigation {
        display: block;
        border-bottom: solid 1px var(--tertiary-color);
    }
    .nav-lst /*.navigation ul*/ {
        display: flex;
    }
    .nav-lnk /*.navigation a*/ {
        border-bottom: none;
    }
    /******** Main ********/
    .main /*main*/ {
        display: block;
        padding: 15px 20px;
    }
    .directory-content {
        grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr));
    }
    .footer {
        grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
    }
}
