@media only screen and (min-width: 38rem) { /*608px*/
    .header /*header*/, .main /*main*/, nav, .footer /*footer*/ {
        max-width: var(--large-max-width);
        margin: var(--zero) auto;
    }
    .header /*header*/ {
        grid-template-columns: var(--logo-width) 1fr auto var(--dark-width) var(--hamburger-width);
        grid-template-rows: auto;
    }
    .logo /*header img*/ {
        width: var(--logo-width);
        height: auto;
        grid-column: 1;
        grid-row: 1;
        margin: var(--zero);
    }
    .title /*header span*/ {
        grid-column: 2;
        grid-row: 1;
        font-size: var(--rem);
        padding-left: var(--spacing);
        margin-bottom: var(--half-spacing);
    }
    .darkMode {
        grid-column: 4;
        grid-row: 1;
        margin: var(--zero);
    }
    /******** Hamburger ********/
    .hamburger {
        grid-column: none;
        grid-row: none;
        display: none;
    }
    /******** Navigation ********/
    .navigation {
        grid-column: 3;
        grid-row: 1;
        display: block;
        border-bottom: solid var(--smallest) var(--tertiary-color);
        border-bottom: none;
        padding: var(--zero);
        margin: var(--zero);
        gap: var(--zero);
    }
    .nav-lst /*.navigation ul*/ {
        display: flex;
        padding: var(--zero);
        margin: var(--zero);
        gap: var(--zero);
    }
    .nav-itm.current {
        color: var(--dark-menu-color);
        background-color: var(--dark-menu-background);
    }
    .nav-itm.current.light {
        color: var(--menu-color);
        background-color: var(--menu-background);
    }
    .nav-lnk /*.navigation a*/ {
        border-bottom: none;
        padding: var(--less-rem) var(--zero);
    }
    .nav-lnk.current {
        color: var(--dark-menu-color);
        border-bottom: solid var(--small) var(--dark-menu-highlight-background);
        padding: var(--zero);
        padding-top: var(--less-minus-rem);
        padding-bottom: var(--less-heavy);
        margin-bottom: var(--less-less-heavy);
    }
    .nav-lnk.current.light {
        color: var(--menu-color);
        border-bottom: solid var(--small) var(--menu-highlight-color);
        padding: var(--zero);
        padding-top: var(--less-minus-rem);
        padding-bottom: var(--less-heavy);
        margin-bottom: var(--less-less-heavy);
    }
    /******** Main ********/
    .main /*main*/ {
        display: block;
        padding: var(--plus-half-spacing) var(--double-spacing);
    }
    .directory-list {
        grid-template-columns: repeat(auto-fit, minmax(var(--more-narrow-width), 1fr));
    }
    .social {
        display: grid;
        grid-template-columns: auto repeat(4, 1fr) auto;
        grid-template-rows: auto 1fr auto;
        gap: var(--spacing);
        margin: var(--spacing);
        justify-content: center;
    }
    .social-links {
        width: var(--touchable-size);
        height: auto;
    }
    .facebook {
        grid-column: 2;
        grid-row: 2;
    }
    .instagram{
        grid-column: 3;
        grid-row: 2;
    }
    .twitter{
        grid-column: 4;
        grid-row: 2;
    }
    .linkedin{
        grid-column: 5;
        grid-row: 2;
    }

}
