:root {
    --small-width:  40rem; /*40 x 16px = px*/
    --small-width:  38rem; /*36 x 16px = 608px*/
    --narrow-width:  320px;
    --medium-width:  80rem;
    --wide-width:   1600px;

    --Confetti: #eed463;/*rgb(?,?,?)*/
    --Ronchi: #edd052;/*rgb(?,?,?)*/
    --Rhino: #334164;/*rgb(?,?,?)*/
    --Glacier: #75acc8;/*rgb(?,?,?)*/
    --Casper: #b5c9d7;/*rgb(?,?,?)*/
    --BaliHai: #8b97ac;/*rgb(?,?,?)*/
    --CatskillWhite: #e1ebf1;/*rgb(?,?,?)*/

    --primary-color: var(--Glacier);
    --primary-background: var(--CatskillWhite);
    --secondary-color: var(--primary-background);
    --secondary-background: var(--primary-color);
    --tertiary-color:  var(--Rhino);
    --tertiary-background: var(--Confetti);

    --primary-font: "Eagle Lake", serif;
    --primary-font-weight: 400;
    --primary-font-style: normal;

    --large-max-width: 900px;

    --logo-width: 48px;

    --hamburger-width: 44px;
    --hamburger-font: Verdana, Geneva, Tahoma, sans-serif;
    --hamburger-to-open-content: "\2630";
    --hamburger-to-close-content: "\00D7";

    --nav-itm-height: 44px;

    --debug-level-1-color: red;/*#FF0000*//*rgb(255,0,0)*/
    --debug-level-2-color: orange;/*#FFA500*//*rgb(255,165,0)*/
    --debug-level-3-color: yellow;/*#FFFF00*//*rgb(255,255,0)*/
    --debug-level-4-color: green;/*#008000*//*rgb(0,128,0)*/
    --debug-level-5-color: blue;/*#0000FF*//*rgb(0,0,255)*/
    --debug-level-6-color: indigo;/*#4B0082*//*rgb(75,0,130)*/
    --debug-level-7-color: violet;/*#EE82EE*//*rgb(238,130,238)*/
    --debug-border-style: dashed;
    --debug-border-alt-style: dotted;

}
.body {
  font-family: var(--primary-font);
  font-weight: var(--primary-font-weight);
  font-style: var(--primary-font-style);
  color: var(--primary-color);
  background-color: var(--primary-background);
}
.header /*header*/ {
    display: grid;
    grid-template-columns: var(--logo-width) auto var(--hamburger-width);
    padding: 5px 0 5px 10px;
    align-items: end;
    border-bottom: solid 1px var(--tertiary-color);
    column-gap: 8px;
}
.logo /*header img*/ {
    display: block;
    width: 100%;
    height: auto;
    padding-bottom: 5px;
}
.title /*header span*/ {
    font-size: 1.2rem;
    color: var(--tertiary-color);
}
/******** Hamburger ********/
.hamburger {
    background: none;
    border: none;
    color: var(--tertiary-color);
    cursor: pointer;
    font-family: var(--hamburger-font);
}
.hamburger::after {
    content: var(--hamburger-to-open-content);
    font-size: 2rem;
}
.hamburger.show::after {
    content: var(--hamburger-to-close-content);
}
/******** Navigation ********/
.navigation {
    display: none;
}
.navigation.show {
    display: block;
}
.nav-lst /*.navigation ul*/ {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.nav-itm /*.navigation li*/ {
    list-style: none;
    margin-right: 15px;
    height: var(--nav-itm-height);
    cursor: pointer;
}
.nav-itm.current /*.navigation li.current a*/ {
    background-color: var(--tertiary-background);
}
.nav-lnk /*.navigation a*/ {
    display: block;
    padding: .85rem 10px;
    color: var(--tertiary-color);
    text-decoration: none;
    border-bottom: solid 1px var(--tertiary-color);
}
.nav-lnk:hover /*.navigation a:hover*/ {
    background-color: var(--tertiary-color);
    color: var(--primary-background);
}

h1 {
    margin-left: 10px;
}
/******** Main ********/
.page-title-header {
    text-align: left;
}
.directory-content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    padding: 20px;
}

.business-card {
    color: var(--secondary-color);
    background-color: var(--secondary-background);
    padding: 10px;
    border: var(--Confetti) solid 2px;
    border-radius: 10px 0px 10px 0px;
    margin: 0;
}
.business-name {
    text-align: center;
    font-size: 1.5rem;
    color: var(--primary-background);
    background-color: var(--primary-color);
    padding: 10px 0;
    margin: 0;
}
.business-address, .business-phone, .business-website, .business-membership, .business-category {
    margin: 5px 10%;
    font-size: 1rem;
    font-weight: 575;
    line-height: 1.6;
    padding-bottom: 5px;
}
.business-logo {
    margin: 20px 10%;
    width: 80%;
    height: auto;
    border-radius: 5px;
}
/******** Footer ********/
.footer {
    color: var(--tertiary-color);
    font-size: 0.8rem;
    text-align: center;
    border-top: solid 1px var(--tertiary-color);
    padding: 10px 0;
}
