:root {
    --small-width:  40rem; /*40 x 16px = px*/
    --small-width:  38rem; /*36 x 16px = 608px*/
    --narrow-width:  320px;
    --medium-width:  80rem;
    --wide-width:   1600px;

    --Confetti: #eed463;/*rgb(?,?,?)*/
    --Ronchi: #edd052;/*rgb(?,?,?)*/
    --Rhino: #334164;/*rgb(?,?,?)*/
    --Glacier: #75acc8;/*rgb(?,?,?)*/
    --Casper: #b5c9d7;/*rgb(?,?,?)*/
    --BaliHai: #8b97ac;/*rgb(?,?,?)*/
    --CatskillWhite: #e1ebf1;/*rgb(?,?,?)*/

    --dark-primary-color: var(--CatskillWhite);/*var(--Rhino);*/
    --dark-primary-background: var(--Rhino);/*var(--CatskillWhite);*/
    --dark-header-color: var(--CatskillWhite);/*var(--Rhino);*/
    --dark-header-background: var(--Rhino);/*var(--CatskillWhite);*/
    --dark-card-color: var(--Rhino);/*var(--Casper);*/
    --dark-card-background: var(--Casper);/*var(--Rhino);*/
    --dark-card-border-color: var(--Glacier);
    --dark-menu-color:  var(--CatskillWhite);/*var(--Rhino);*/
    --dark-menu-background:  var(--Rhino);/*var(--CatskillWhite);*/
    --dark-menu-highlight-color: var(--Rhino);
    --dark-menu-highlight-background: var(--Confetti);

    --primary-color: var(--Rhino);
    --primary-background: var(--CatskillWhite);
    --header-color: var(--Rhino);
    --header-background: var(--CatskillWhite);
    --card-color: var(--Casper);
    --card-background: var(--Rhino);
    --card-border-color: var(--Glacier);
    --menu-color:  var(--Rhino);
    --menu-background:  var(--CatskillWhite);
    --menu-highlight-color: var(--Rhino);
    --menu-highlight-background: var(--Confetti);

    --primary-font-weight: 400;
    --primary-font-style: normal;
    @font-face {
        font-family: "Eagle Lake";
        src: url("../fonts/EagleLake-Regular.ttf") format("truetype");
        font-weight: var(--primary-font-weight);
        font-style: var(--primary-font-style);
        font-display: swap;
    }

    --primary-font: "Eagle Lake", serif;

    --large-max-width: 900px;

    --logo-width: 106px;

    --dark-width: 44px;

    --hamburger-width: 44px;
    --hamburger-font: Verdana, Geneva, Tahoma, sans-serif;
    --hamburger-to-open-content: "\2630";
    --hamburger-to-close-content: "\00D7";

    --nav-itm-height: 44px;

    --debug-level-1-color: red;/*#FF0000*//*rgb(255,0,0)*/
    --debug-level-2-color: orange;/*#FFA500*//*rgb(255,165,0)*/
    --debug-level-3-color: yellow;/*#FFFF00*//*rgb(255,255,0)*/
    --debug-level-4-color: green;/*#008000*//*rgb(0,128,0)*/
    --debug-level-5-color: blue;/*#0000FF*//*rgb(0,0,255)*/
    --debug-level-6-color: indigo;/*#4B0082*//*rgb(75,0,130)*/
    --debug-level-7-color: violet;/*#EE82EE*//*rgb(238,130,238)*/
    --debug-border-style: dashed;
    --debug-border-alt-style: dotted;

    button {
        background: none;
        border: none;
        cursor: pointer;
        padding-block: 0px;
        padding-inline: 0px;
    }
}
.body {
  font-family: var(--primary-font);
  font-weight: var(--primary-font-weight);
  font-style: var(--primary-font-style);
  color: var(--dark-primary-color);
  background-color: var(--dark-primary-background);
}
.body.light {
  color: var(--primary-color);
  background-color: var(--primary-background);
}
.header /*header*/ {
    display: grid;
    color: var(--dark-header-color);
    background-color: var(--dark-header-background);
    border-bottom: solid 1px var(--dark-header-color);
    grid-template-columns: var(--logo-width) auto var(--dark-width) var(--hamburger-width);
    grid-template-rows: 1fr auto;
    padding: 5px 0 5px 5px;
    align-items: end;
    column-gap: 0px;
}
.header.light /*header*/ {
    color: var(--header-color);
    background-color: var(--header-background);
    border-bottom: solid 1px var(--header-color);
}
.logo /*header img*/ {
    grid-column: 1;
    grid-row: 1;
    display: block;
    width: var(--logo-width);
    height: auto;
    margin: 15px 0px;
    border: var(--header-color) solid 1px;
    border-radius: 5px;
}
.title /*header span*/ {
    grid-column: 2;
    grid-row: 1;
    font-size: 1.1rem;
    margin: 15px 5px 15px 10px;
}
/**** Dark Mode Button *****/
.darkMode {
    grid-column: 3;
    grid-row: 1;
    width: var(--dark-width);
    height: auto;
    margin: 15px 0px;
}
/******** Hamburger ********/
.hamburger {
    grid-column: 4;
    grid-row: 1;
    background: none;
    border: none;
    color: var(--dark-menu-color);
    background-color: var(--dark-menu-background);
    cursor: pointer;
    font-family: var(--hamburger-font);
    margin: 20px 0px;
}
.hamburger.light {
    color: var(--menu-color);
    background-color: var(--menu-background);
}
.hamburger::after {
    content: var(--hamburger-to-open-content);
    font-size: 2rem;
}
.hamburger.show::after {
    content: var(--hamburger-to-close-content);
}
/******** Navigation ********/
.navigation {
    grid-column: 1/5;
    grid-row: 2;
    display: none;
}
.navigation.show {
    display: block;
}
.nav-lst /*.navigation ul*/ {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.nav-itm /*.navigation li*/ {
    list-style: none;
    margin-right: 15px;
    color: var(--dark-menu-color);
    background-color: var(--dark-menu-background);
    height: var(--nav-itm-height);
    font-size: 1rem;
    cursor: pointer;
}
.nav-itm.light {
    color: var(--menu-color);
    background-color: var(--menu-background);
}
.nav-itm.current /*.navigation li.current a*/ {
    color: var(--dark-menu-highlight-color);
    background-color: var(--dark-menu-highlight-background);
}
.nav-itm.current.light {
    color: var(--menu-highlight-color);
    background-color: var(--menu-highlight-background);
}
.nav-lnk /*.navigation a*/ {
    display: block;
    padding: .85rem 10px;
    color: var(--dark-menu-color);
    border-bottom: solid 1px var(--dark-menu-color);
    border-bottom: none;
    text-decoration: none;
}
.nav-lnk.light {
    color: var(--menu-color);
    border-bottom: solid 1px var(--menu-color);
    border-bottom: none;
}
.nav-lnk.current {
    color: var(--dark-menu-highlight-color);
    border-bottom: solid 1px var(--dark-menu-highlight-color);
    border-bottom: none;
}
.nav-lnk.current.light {
    color: var(--menu-highlight-color);
    border-bottom: solid 1px var(--menu-highlight-color);
    border-bottom: none;
}
.nav-lnk:hover /*.navigation a:hover*/ {
    background-color: var(--dark-menu-color);
    color: var(--dark-menu-background);
}
.nav-lnk.light:hover {
    background-color: var(--menu-color);
    color: var(--menu-background);
}

h1 {
    margin-left: 10px;
}
/******** Main ********/
.page-title-header {
    text-align: left;
}
.directory-content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(28rem, 1fr));
    gap: 20px;
    padding: 20px;
}

.business-card {
    color: var(--dark-card-color);
    background-color: var(--dark-card-background);
    padding: 10px;
    border: var(--dark-card-border-color) solid 2px;
    border-radius: 10px 0px 10px 0px;
    margin: 0;
}
.business-card.light {
    color: var(--card-color);
    background-color: var(--card-background);
    border: var(--card-border-color) solid 2px;
}
.business-name {
    text-align: center;
    font-size: 1.5rem;
    padding: 10px 0;
    margin: 0;
}
.business-address, .business-phone, .business-website, .business-membership, .business-category {
    margin: 5px 10%;
    font-size: 1rem;
    font-weight: 575;
    line-height: 1.6;
    padding-bottom: 5px;
}
.business-logo {
    margin: 20px 10%;
    width: 80%;
    height: auto;
    border-radius: 5px;
}
/******** Footer ********/
.footer {
    color: var(--dark-header-color);
    background-color: var(--dark-header-background);
    border-top: solid 1px var(--dark-header-color);
    font-size: 0.8rem;
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    padding: 20px;
}
.footer.light {
    color: var(--header-color);
    background-color: var(--header-background);
    border-top: solid 1px var(--header-color);
}
.address, .credits {
    text-align: left;
}
.social-links {
    width: 44px;
    height: auto;
}
