#loader {
  margin: 2rem;
  width: 50px;
  height: 50px;
  border: 5px solid transparent;
  border-color: #999 transparent #999 transparent;
  border-radius: 50%;
  animation: spin 1.5s linear infinite;
  
  animation: duration timing-function delay iteration-count direction fill-mode;
  box-shadow: 0 0 1rem rgb(0 0 255 /40%);
}
#loader::after {
  content: '⚙️';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: pulse 1.5s ease-in-out infinite;
}
@keyframes spin {
  100% {transform: rotate(360deg);} /* spin 360 degrees */
}
@keyframes pulse {
  0%, 100% {transform: translate(-50%, -50%), scale(1);} /* scale to 1 */
  50% {transform: translate(-50%, -50%), scale(1.25);} /* scale to 1.25 */
}
.loader-t{
  transition: spin 1.5s linear infinate;
}
.loader-t::after {
  transform: translate(-50%, -50%) scale(0);
  transition: transform 1.5s ease-in-out;
  font-size: 2rem;
}
.loader-t:hover {
  transform: rotate(360deg);
}
.loader-t:hover::after {
  transform: translate(-50%, -50%) scale(1.5);
}